# System
.DS_Store

# IDE
/.idea/

# Build
/BUILD/
/cmake-build-debug/
.temp
.mbed
mbed*.py*

# Libraries
/mbed-os/
# Ignore only libs' folders, but keep .lib files - where the lib repo & version/commit sha is stored.
/libs/*/